
table,th,td{border-collapse:separate;
border:solid black 1px;
border-radius:6px
}
.BPHS{background-color:red;}
.BCSC{background-color:GREEN;}
.BCSG{background-color:YELLOW;}
.BELH{background-color:PINK;}
.BEEG{background-color:BLUE;}
.BMAS{background-color:VIOLET;}
.BMEG{background-color:BROWN}







